@font-face {
    font-family: vazir;
    src: url(./asset/fonts/Vazir.woff);
}
@font-face {
    font-family: "vazir thin";
    src: url(./asset/fonts/Vazir-Thin.woff);
}

@font-face {
    font-family: "vazir light";
    src: url(./asset/fonts/Vazir-Light.woff);
}
@font-face {
    font-family: "vazir bold";
    src: url(./asset/fonts/Vazir-Bold.woff);
}


body{
    font-family: "vazir";
    background-color: #f4f6f9;
    margin:0px;
}
header{
    padding: 50px;
}
.logo{
    margin-right: 40px;
}

nav{
    background-color: #fcfcfd;
    padding: 10px 0px;
   
}
nav ul{
    display: flex;
}

nav ul li{
    display: block;
    padding:5px 15px;
    border-left: 1px solid #eaeef4;
}


nav ul li a{
    text-decoration: none;
    font-family: "vazir light";
    color: #34383e;
}

nav ul li a:hover{
    text-decoration: none;
    font-family: "vazir light";
    color: #7e31d6;
}

.content{

    max-width: 1500px;
    display: grid;
    grid-gap:30px;
    grid-template-columns: 1fr 3fr;
    padding:40px;
    margin-top: 10px;
    margin: auto;
}

.panel{
    background-color: #fcfcfd;
    border-radius: 20px;
}

.sidebar-title{
    text-align: center;
    padding: 0px 0px;
    padding-top:30px;
    color:#7e31d6;
    font-family: "vazir bold";
    font-size: 18px;
}
.sidebar-content{
    padding:40px;
}
.filter-options{
    margin-bottom: 20px;
}
.filter-values{
    margin: 10px 0px;
}
.filter-values select{
    width:100%;
    padding: 10px;
    border: 0px;
    background-color: #f0f2f5;
    border-radius: 5px;
    font-family: "vazir";
    
}

.filter-btn{
    margin-top:20px;
    width: 100%;
    padding:10px 0px;
    background-color: #7e31d6;
    color: white;
    font-family: "vazir bold";
    font-size: 16px ;
    border-radius: 10px;    
    text-align: center;
    border: 0px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.filter-btn:hover{
    background-color: #551f93;
}
.main-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:30px;
}

.box{
    background-color: #fcfcfc;
    border-radius: 20px;
    height: fit-content;
}
.box-title{
    text-align: center;
    padding-top:30px;
    font-family: "vazir bold";
    color: #323232;
    font-size: 30px;
}

.box-description{
    padding: 0 30px;
    margin: 30px 0;
    font-size: 14px;
}

.box-value{
    text-align: center;
    color: #7e31d6;
    margin-bottom: 30px;
}

footer{
    background-color: #fcfcfc;
    padding: 40px;
}

.footer-content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.footer-info p{
    margin: 10px 0px;
}
.footer-social{
    margin: auto;
    
}
.social-icons img{
    margin: 0px 10px;
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-pages ul li{
    margin-bottom: 10px;
    display: block;
}

.footer-pages a{
    text-decoration: none;
    color: #4e5257;
}

@media screen and (max-width: 1200px){

    .main-boxes{
        grid-template-columns: 1fr 1fr;
    }
    .content{
        grid-template-columns: 1fr 2fr;
    }
}

@media screen and (max-width: 900px){

    .content{
        grid-template-columns: 1fr;
    }
    .main-boxes{
        grid-template-columns: 1fr 1fr;
    }
    .footer-content{
        grid-template-columns: 1fr 1fr;
    }
    .footer-social{
        order: 3;
    }
    .footer-pages{
        display: none;
    }
}

@media screen and (max-width: 700px){

    .content{
        grid-template-columns: 1fr;
    }
    .main-boxes{
        grid-template-columns: 1fr;
    }
    .footer-content{
        grid-template-columns: 1fr;
    }
    .footer-social{
        margin-top:30px;
    }
    .logo{
        text-align: center;
    }
}